.align {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 23rem;
}
.form-floating {
  margin-bottom: 1rem;
}
#imageUrl-card {
  margin: 1rem;
  width: 70%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
