{% extends "index.html" %} {% load static %} {% block content %}
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      rel="stylesheet"
      href="{% static 'css/manage/manage.css' %}"
      type="text/css"
    />
  </head>
  <body>
    <div class="items">
      <a href="/manage/products">
        <div class="card item" data-aos="zoom-in" data-aos-duration="2500">
          <img
            src="../static/assets/ManageProducts.jpg"
            alt="Products"
            class="card-img-top image"
          />
          <div class="card-body">
            <div class="card-title font">Manage Products</div>
          </div>
        </div>
      </a>

      <a href="/manage/products">
        <div class="card item" data-aos="zoom-in" data-aos-duration="2500">
          <img
            src="../static/assets/ManageCategories.png"
            alt="Categories"
            class="card-img-top image"
          />
          <div class="card-body">
            <div class="card-title font">Manage Categories</div>
          </div>
        </div>
      </a>

      <a href="/manage/products">
        <div class="card item" data-aos="zoom-in" data-aos-duration="2500">
          <img
            src="../static/assets/ManageVendors.jpg"
            alt="Vendors"
            class="card-img-top image cover"
          />
          <div class="card-body">
            <div class="card-title font">Manage Vendors</div>
          </div>
        </div>
      </a>

      <a href="/manage/products">
        <div class="card item" data-aos="zoom-in" data-aos-duration="2500">
          <img
            src="../static/assets/ManageStores.jpg"
            alt="Stores"
            class="card-img-top image"
          />
          <div class="card-body">
            <div class="card-title font">Manage Stores</div>
          </div>
        </div>
      </a>

      <a href="/manage/products">
        <div class="card item" data-aos="zoom-in" data-aos-duration="2500">
          <img
            src="../static/assets/ManagePriceList.jpg"
            alt="PriceList"
            class="card-img-top image"
          />
          <div class="card-body">
            <div class="card-title font">Manage PriceList</div>
          </div>
        </div>
      </a>

      <a href="/manage/products">
        <div class="card item" data-aos="zoom-in" data-aos-duration="2500">
          <img
            src="../static/assets/ManageBrands.jpg"
            alt="Brands"
            class="card-img-top image"
          />
          <div class="card-body">
            <div class="card-title font">Manage Brands</div>
          </div>
        </div>
      </a>

      <a href="/manage/products">
        <div class="card item" data-aos="zoom-in" data-aos-duration="2500">
          <img
            src="../static/assets/ManageInventoryTransactions.jpg"
            alt="Inventory Transactions"
            class="card-img-top image"
          />
          <div class="card-body">
            <div class="card-title font">Manage Inventory Transactions</div>
          </div>
        </div>
      </a>

      <a href="/manage/products">
        <div class="card item" data-aos="zoom-in" data-aos-duration="2500">
          <img
            src="../static/assets/shippingAgents.jpg"
            alt="Shipping Agnets"
            class="card-img-top image cover"
          />
          <div class="card-body">
            <div class="card-title font">Shipping Agnets</div>
          </div>
        </div>
      </a>

      <a href="/manage/products">
        <div class="card item" data-aos="zoom-in" data-aos-duration="2500">
          <img
            src="../static/assets/ShippingAgentsUsers.jpg"
            alt="Shipping Agents Users"
            class="card-img-top image"
          />
          <div class="card-body">
            <div class="card-title font">Shipping Agents Users</div>
          </div>
        </div>
      </a>

      <a href="/manage/products">
        <div class="card item" data-aos="zoom-in" data-aos-duration="2500">
          <img
            src="../static/assets/ShippingProcess.jpg"
            alt="Shipping Process"
            class="card-img-top image cover"
          />
          <div class="card-body">
            <div class="card-title font">Shipping Process</div>
          </div>
        </div>
      </a>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>

{% endblock %}
