{% extends "index.html" %} {% load static %} {% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{% static 'css/manage/products.css' %}"
      type="text/css"
    />
  </head>
  <body>
    <form>
      <input
        id="myInput"
        type="text"
        onkeyup="myFunction()"
        placeholder="Search.."
        autofocus
      />
      <button class="searchTerm" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
    <div class="container">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Id</div>
          <div class="col col-2">Arabic Name</div>
          <div class="col col-3">English Name</div>
          <div class="col col-4"></div>
        </li>
        {% for product in Products %}
        <li class="table-row">
          <div class="col col-1">{{product.Id}}</div>
          <div class="col col-2">{{product.NameA}}</div>
          <div class="col col-3">{{product.NameL}}</div>
          <div class="col col-4">
            <a href="{% url 'product_edit' product.Id %}">Edit</a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <script>
      function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[2];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    </script>
  </body>
</html>
{% endblock %}
