{% extends "index.html" %} {% load static %} {% block content %}

<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}" />
  </head>
  <body>
    <div class="align bg">
      <img
        class="welcome"
        data-aos-duration="1500"
        data-aos="fade-down"
        src="{% static 'assets/Ecommerce2.jpeg' %}"
        alt=""
      />
    </div>
    <div class="items">
      {% for categories in Categories %}
      <div class="card item" data-aos="zoom-in" data-aos-duration="2500">
        <img
          src="{{categories.ImageUrl}}"
          alt="{{categories.NameL}}"
          class="card-img-top image"
        />
        <div class="card-body">
          <p class="card-title">{{categories.NameL}}</p>
        </div>
      </div>
      {% endfor %}
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>

{% endblock %}
