{% extends "index.html" %} {% load static %}
<html>
  {% block content %}
  <head>
    <link
      rel="stylesheet"
      href="{% static 'css/manage/edit/product.css' %}"
      type="text/css"
    />
  </head>
  <body>
    <form class="was-validated" method="post">
      {% csrf_token %}
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="form-floating">
              <input
                class="form-control is-invalid"
                name="NameA"
                id="NameA"
                value="{{Products.NameA}}"
                placeholder="Arabic Name"
                required
              />
              <label for="NameA">Arabic Name</label>
            </div>

            <div class="form-floating">
              <input
                class="form-control is-invalid"
                name="NameL"
                id="NameL"
                value="{{Products.NameL}}"
                placeholder="English Name"
                required
              />
              <label for="NameL">English Name</label>
            </div>

            <div class="form-floating">
              <select
                class="form-select is-invalid"
                value="{{Products.CategoryId}}"
                placeholder="Category"
                name="CategoryId"
                id="CategoryId"
                required
              >
                {% for category in subCategories %}
                <option value="{{category.Id}}">{{category.NameL}}</option>
                {% endfor %}
              </select>
              <label for="CategoryId">Category</label>
            </div>

            <div class="form-floating">
              <select
                class="form-select is-invalid"
                value="{{Products.BrandId}}"
                placeholder="Brands"
                name="BrandId"
                id="BrandId"
                required
              >
                {% for brand in Brands %}
                <option value="{{brand.Id}}">{{brand.NameL}}</option>
                {% endfor %}
              </select>
              <label for="BrandId">Brands</label>
            </div>

            <div class="form-floating">
              <input
                type="text"
                class="form-control is-invalid"
                value="{{Products.Description}}"
                placeholder="Description"
                name="Description"
                id="Description"
                required
              />
              <label for="Description">Description</label>
            </div>

            <div class="form-floating">
              <input
                type="text"
                class="form-control is-invalid"
                value="{{Products.ImageUrl7}}"
                placeholder="ImageURL"
                name="ImageUrl7"
                id="ImageUrl7"
                required
              />
              <label for="ImageUrl7">Image URL</label>
            </div>

            <div class="form-floating">
              <input
                type="text"
                class="form-control is-invalid"
                value="{{Products.ImageUrl2}}"
                placeholder="ImageURL 2"
                name="ImageUrl2"
                id="ImageUrl2"
              />
              <label for="ImageUrl2">Image URL 2</label>
            </div>

            <div class="form-floating">
              <input
                type="text"
                class="form-control is-invalid"
                value="{{Products.ImageUrl3}}"
                placeholder="ImageURL 3"
                name="ImageUrl3"
                id="ImageUrl3"
              />
              <label for="ImageUrl3">Image URL 3</label>
            </div>

            <br />
            <div class="d-grid gap-2">
              <button class="btn btn-success" type="submit">Save</button>
            </div>
            <br />
          </div>
          <div class="col-md-6 align">
            <div class="card align">
              <img class="card-img-top" id="imageUrl-card" alt="..." />
              <div class="card-body">
                <h5 id="title-card" class="card-title"></h5>
                <p id="title-description" class="card-text"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <script>
      var title = document.getElementById("NameL").value;
      document.getElementById("title-card").innerHTML = title;
      const title_source = document.getElementById("NameL");
      const title_result = document.getElementById("title-card");
      const title_input = function (e) {
        title_result.innerHTML = e.target.value;
      };
      title_source.addEventListener("input", title_input);
      title_source.addEventListener("propertychange", title_input);
    </script>
    <script>
      var description = document.getElementById("Description").value;
      document.getElementById("title-description").innerHTML = description;

      const description_source = document.getElementById("Description");
      const description_result = document.getElementById("title-description");
      const description_input = function (e) {
        description_result.innerHTML = e.target.value;
      };
      description_source.addEventListener("input", description_input);
      description_source.addEventListener("propertychange", description_input);
    </script>
    <script>
      var image = document.getElementById("ImageUrl7").value;
      document.getElementById("imageUrl-card").src = image;
    </script>
    {% endblock %}
  </body>
</html>
